.subform {
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(191,191,191,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(191,191,191,1);
    box-shadow: 0px 0px 5px 1px rgba(191,191,191,1);

}

.tab-inner {
    text-align: left;
    width: 25rem;
}

.tab-inner form {
    height: 20rem;
}

.terms-box{
    width: 98%;
    height: 20rem;
    text-align: left;
}

.row * .row {
    margin: 0
}

.control-pane {
    text-align: left;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 95%;
}

.control-pane button {
    margin-right: 1em;
}

.confirm {
    position: absolute;
    right: 0;
}

.preview-pane {
    border-top: 1px solid #cecfd0;
    margin: .5em 0 0 0;
    padding: .5em;
    text-align: left;
    background: #fff9be;
}

.intro {
    padding: 1em;
    text-align: left;
    font-size: 1.2em;
}