body {
  
}

.App {
  text-align: center; 
  background: #eee;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.form-container {
  padding: 1em 5em;
  height: 100%;
  /* width: 80%; */
}